$mdc-theme-primary: #673AB7;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #607D8B;
$mdc-theme-on-secondary: #FFFFFF;


$mdc-theme--text-primary-on-light: #212121;
$mdc-theme--text-primary-on-dark: #FFFFFF;
$mdc-theme--text-secondary-on-light: #757575;
$mdc-theme--text-secondary-on-dark: #D1C4E9;
