@import "@material/elevation/mdc-elevation";
.my-table {
    padding: 20px;
    width: 100%;
}

.my-table__content {
    @extend .mdc-elevation--z3;
    margin: 0 auto;
    width: 100%;
    min-width: 700px;
}

.my-table__header-cell{
    text-align:left;
}

.my-table__content-cell {
    text-align: left;
}